Repository Fenikks/gh-actions-terragrunt, changes with the labels that .github/labeler.yml gives for each.
All labels: type: docs, type: maintenance

chore(main): release 2.0.0
  CHANGELOG.md
  package.json
Labels: type: docs

fix: plan
  image/entrypoints/tg_plan_all.sh
Labels: none

chore(dev): release 4.1.2
  CHANGELOG.md
  package.json
Labels: type: docs

chore(dev): release 4.1.2 (#86)
  CHANGELOG.md
  package.json
Labels: type: docs

fix: test
  .github/workflows/deploy-release.yaml
Labels: type: maintenance

chore(dev): release 4.1.3
  CHANGELOG.md
  package.json
Labels: type: docs

chore(dev): release 4.1.3 (#87)
  CHANGELOG.md
  package.json
Labels: type: docs

fix: test
  .github/workflows/apply-labels.yaml
Labels: type: maintenance

chore(dev): release 4.1.4
  CHANGELOG.md
  package.json
Labels: type: docs

chore(dev): release 4.1.4 (#88)
  CHANGELOG.md
  package.json
Labels: type: docs

fix: ci
  .github/workflows/create-release.yml
Labels: type: maintenance

chore(dev): release 4.1.5
  CHANGELOG.md
  package.json
Labels: type: docs

chore(dev): release 4.1.5 (#89)
  CHANGELOG.md
  package.json
Labels: type: docs

fix: ci
  .github/workflows/create-release.yml
Labels: type: maintenance

chore(dev): release 4.1.6
  CHANGELOG.md
  package.json
Labels: type: docs

chore(dev): release 4.1.6 (#90)
  CHANGELOG.md
  package.json
Labels: type: docs

fix: ci
  .github/workflows/apply-labels.yaml
  .github/workflows/auto-merge-release.yaml
  .github/workflows/create-release.yml
Labels: type: maintenance

fix: ci
  .github/workflows/deploy-release.yaml
Labels: type: maintenance

fix: ci
  .github/workflows/apply-labels.yaml
Labels: type: maintenance

chore(dev): release 4.1.7
  CHANGELOG.md
  package.json
Labels: type: docs

chore(dev): release 4.1.7 (#91)
  CHANGELOG.md
  package.json
Labels: type: docs

fix: ci
  .github/workflows/apply-labels.yaml
  .github/workflows/create-release.yml
Labels: type: maintenance

chore(dev): release 4.1.8
  CHANGELOG.md
  package.json
Labels: type: docs

chore(dev): release 4.1.8 (#92)
  CHANGELOG.md
  package.json
Labels: type: docs

fix: ci
  .github/workflows/auto-merge-release.yaml
Labels: type: maintenance

chore(dev): release 4.1.9
  CHANGELOG.md
  package.json
Labels: type: docs

fix: ci
  .github/workflows/create-release.yml
Labels: type: maintenance

chore(dev): release 4.1.10
  CHANGELOG.md
  package.json
Labels: type: docs

fix: test
  .github/workflows/auto-merge-release.yaml
Labels: type: maintenance

chore(dev): release 4.1.11
  CHANGELOG.md
  package.json
Labels: type: docs

feat: ci
  .github/workflows/create-release.yml
Labels: type: maintenance

feat: ci
  .github/workflows/create-release.yml
Labels: type: maintenance

chore(dev): release 4.2.0
  CHANGELOG.md
  package.json
Labels: type: docs

feat: test ci
  .github/workflows/create-release.yml
Labels: type: maintenance

feat: test ci
  .github/workflows/create-release.yml
Labels: type: maintenance

chore(dev): release 4.3.0
  CHANGELOG.md
  package.json
Labels: type: docs

fix: ci
  .github/workflows/create-release.yml
Labels: type: maintenance

chore(dev): release 4.3.1
  CHANGELOG.md
  package.json
Labels: type: docs

chore(dev): release 5.0.0
  CHANGELOG.md
  package.json
Labels: type: docs

fix: ci
  .github/workflows/apply-labels.yaml
  .github/workflows/auto-merge-release.yaml
  .github/workflows/create-release.yml
  .github/workflows/deploy-release.yaml
Labels: type: maintenance

.github/labeler.yml:

---

# this file is for the labeler workflow job
# Documentation https://github.com/marketplace/actions/labeler

"type: docs":
  - assets/**/*
  - .github/*
  - ./*.md

"type: maintenance":
  - .github/workflows/*

...
